:root{
    --black:#000000;
    --black-900:#000000;
    --black-800:#32363b;
    --black-700:#5B5F64;
    --black-600:#0E1E32;
    --black-500:#959FA8;
    --white:#ffffff;
    --white-900: #c4cfde;
    --white-800:#F3F4F7;
    --white-700:#E2E6E8;
    --white-600:#010a1266;
    --white-500:#EBEBEB;
    --white-400:#ededed;
    --red-900: #ff014f;
    --red-800:#FF6159;
    --red-700:#A74811;  
    --red-600:#DA6A2A;
    --blue-900:#287FB8; 
    --green:#3BC158;
    --yello:#FFC83E;
    --urb:'Urbanist';
    --bar:'Barlow Semi Condensed';
}


/* top */
.top{
    width: 36px;
    height: 44px;
    background-color: var(--red-600);
    color: var(--white);
    text-align: center;
    line-height: 44px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 3px;
    transition: all 0.5s;
}
.top:hover{
    background-color: var(--black-900);
}
/* navbar */
.nav{
    width: 100%;
    height: 30px;
    font-size: 14px;
    font-family: var(--urb);
    background-color: black;
    color: var(--white);
}
.nav .location , .call{
    padding: 0 20px;
}
.nav .location i{
    padding-right: 8px;
}
.nav .w-50 a span{
    text-transform: capitalize;
    font-size: 14px;
    color: var(--white);
    height: 1px;
    left: 0;
    bottom: 0;
    width: 0%;
    position: relative;
}
.nav .call i , .nav .call a{
    margin: 0 10px;
}
.nav .call span{
    margin: 0 10px 0 0;
    color: var(--white);
    text-transform:capitalize;
}
.nav .call a{
    text-transform: uppercase;
    color: var(--white);
}
.nav .call img{
    margin: 0 0 0 10px;
    height: 17px;
    width: 17PX;
}
.nav .location span:hover{
    color: var(--red-700);
}
.nav .call a span:hover{
    color: var(--red-700);
    width: 100%;
    height: 1px;
}

/* header */
.header{
    width: 100%;
    height: 135px;
    background-color: var(--black-600);
    padding: 0 30px;
}
.header .img img{
    height: 98px;
    width: 125px;
}
.header .content{
    margin: 0 5px;
}
.header .content ul li a{
    color: var(--white);
    font-size: 14px;
    font-family: var(--urb);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header .content ul li a:hover{
    border-bottom: 1px solid var(--blue-900);
}

/* drop-down */
.header .content ul li .drop-down{
    background-color: var(--white);
    width: 260px;
    visibility:hidden;
    opacity: 0;
    position: absolute;
    padding: 5px;
    margin-top: 5px;
}
.header .content ul li .drop-down ul li{
    padding: 8px 0;
    margin: 0 10px;
    text-align: left;
}
.header .content ul li .drop-down ul li a{
    color: var(--black-800);
    text-transform: capitalize;
}
.header .content ul li .drop-down ul li i{
    margin-left: 120px;
}
.header .content ul li:hover .drop-down{
    visibility: visible;
    opacity: 1;
}
.header .content ul li .drop-down ul li:hover{
    background-color: transparent;
    width: 100%;
}
.header .content ul li .drop-down ul li:hover a , .header .content ul li .drop-down ul li:hover i{
    border-color: transparent;
    color: var(--red-600);
}

/* sub-menu */
.header .content ul li .drop-down ul li .sub-menu{
    background-color: var(--white);
    width: 260px;
    visibility:hidden;
    opacity: 0;
    position: absolute;
    left: 250px;
    top: 120px;
}
.header .content ul li .drop-down ul li .sub-menu ul li{
    margin: 0 10px;
    text-align: left;
    padding: 10px 0;
}
.header .content ul li .drop-down ul li .sub-menu ul li a{
    color: var(--black-800);
    text-transform: capitalize;
}
.header .content ul li .drop-down ul li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
}
.header .content ul li .drop-down ul li .sub-menu ul li:hover{
    background-color: transparent;
    width: 100%;
}
.header .content ul li .drop-down ul li .sub-menu ul li:hover a{
    color: var(--red-600);
}

/* button */
.header .sell i{
    color: var(--white);
}
.header .btn i{
    transition: all 0.5s;
}
.header .sell span{
    color: var(--white);
    background-color: var(--red-800);
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    margin: 0 10px 0 5px;
}
.header .sell a .btn{
    height: 49px;
    width: 181px;
    background-color: var(--red-600);
    color: var(--white);
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    font-family: var(--bar);
    text-transform: uppercase;
    transition: all 0.5s;
}
.header .sell a .btn i{
    padding-left:5px ;
}
.header .sell a:hover .btn{
    background-color: transparent;
    border: 1px solid var(--red-600);
    color: var(--red-600);
}
.header .sell a:hover .btn i{
    color: var(--red-600);
}


/* slider */
.slider{
    height: 800px;
    width: 100%;
    background-image: url(../img/revslider-home1-02.jpg);
    text-transform: uppercase;
    color: var(--white);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.458);
}
.slider .container a .content{
    width: 70%;
    height: 100%;
}
.slider .container a{
    color: var(--white);
}
.slider .container a .content p{
    font-size: 20px;
    font-family: var(--urb);
}
.slider .container a .content h2{
    font-size: 90px;
    font-family: var(--bar);
    font-weight: 500;
}
.slider .container a .content .button{
    margin-top:15px;
}
a .content .btn1{
    width: 168px;
    height: 56px;
    background-color: var(--red-600);
    line-height: 56px;
    text-align:center;
    margin: 10px 0;
    transition: all 1s;
}
a .content .btn2{
    width: 168px;
    height: 56px;
    margin: 10px 0 10px 20px;
    line-height: 56px;
    text-align:center;
    border: 1px solid var(--white);
    transition: all 1s;
}
a .content .btn1 i, a .content .btn2 i{
    margin-left: 5px;
}
a .content .btn1:hover{
    background-color: var(--black-600);
}
a .content .btn2:hover{
    background-color: var(--black-600);
    border: none;
}

/* title */
.title h5{
    font-size: 16px;
    font-family: var(--urb);
    color: var(--red-600);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}
.title h2{
    font-size: 48px;
    font-family: var(--bar);
    color: var(--black-600);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.5px;
    padding-bottom: 10px ;
}
.title p{
    font-size: 16px;
    font-family: var(--urb);
    color: var(--black-700);
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-top: 10px;
}
.title .line{
    width: 49px;
    height: 4px;
    background-color: var(--red-600);
    margin: auto;
}
.title{
    text-align: center;
}

/* member  */
.member{
    position: relative;
}
.member .title , .schedule .title , .product .title{
    text-align: left;
}
.member .line , .schedule .line , .product .line{
    margin: 0;
}
.member .bg-img{
    background-image: url(../img/map.png);
    opacity: 0.05;
    height: 1035px;
    width: 100%;
    padding: 0 30px;
    padding-bottom: 50px;
}
.club{
    padding: 0 30px;
}
.member .club .title{
    margin-top: 100px ;
    position: absolute;
    top: 0px;
    padding-right: 50%;
    margin: 100px 30px;
    left: 0;
}
.club .img{
    top: -5%;
    position: absolute;
}
.club .line{
    margin-bottom: 20px;
}
.community .join{
    top: 70%;
    position: absolute;
    content:'';
    right: 0;
    padding: 0 30px;
}
.community .join img:hover{
    width: 130px;
}

.community .img img{
    width: 567px;
    height: 620px;
    position: absolute;
    top: 50%;
    padding-right:30px ;
}
.community .ball{
    padding:  0 20px;
}   
.ball .event .btn{
    margin: 0;
}
.event .btn{
    width: 166px;
    height: 51px;
    border: 1px solid var(--red-600);
    text-align: center;
    transition: all 0.5s;
    margin: 15px auto;
}
.event .btn a{
    color: var(--red-600);
    line-height: 51px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: var(--bar);
    font-weight: 650;
    transition: all 0.5s;
}
.event .btn i{
    color: var(--red-600);
    transition: all 0.5s;
}
.event .btn:hover a , .event .btn:hover i{
    color: var(--white);
}
.event .btn:hover{
    background-color: var(--red-600);
}

/* result */
.match{
    margin: 150px 0;
}
.match .title h2{
    text-transform: capitalize;
}
.result{
    position: relative;
}
.result .win{
    text-align: right;
}
.result .loss{
    text-align: left;
}
.result .content h2{
    color: var(--black-600);
    font-size: 32px;
    font-family: var(--urb);
    border-bottom: 1px solid var(--white-700);
    text-transform: capitalize;
    font-weight: 900;
    padding: 5px 0;
}
.result .content h5{
    color: var(--black-700);
    font-size: 12px;
    font-family: var(--urb);
    text-transform: capitalize;
    padding: 10px 0;
}
.result .content span{
    color: var(--black-700);
    font-size: 16px;
    font-family: var(--urb);
    text-transform: capitalize;
    padding: 5px 0;
}
.result .content span p{
    color: var(--green);
}
.result .loss .content h5{
    color: var(--red-600);
}
.result .vs{
    padding: 0 25px;
}
.result .vs span{
    font-size: 48px;
    color: var(--blue-900);
    font-family: var(--urb);
    font-weight: 800;
}
.result .vs p{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: var(--white-700);
    text-align: center;
    line-height: 47px;
    color: var(--blue-900);
    font-family: var(--urb);
    font-weight: 800;
    font-size: 18px;
}
.result .league {
    padding-bottom: 30px;
}
.result .league p , .result .detail p{
    color: var(--black-500);
    font-size: 16px;
    font-family: var(--urb);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}
.result .league .location p , .result .detail  , .schedule .league p{
    font-weight: 200;
    color: var(--black-700);
}
.result .league .location p i{
    color: var(--blue-900);
    font-size: 16px;
    margin: 0 5px 0 20px;
}
.result .detail{
    width: 100%;
    height: 50px;
    background-color: var(--red-600);
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 40px;
    transition: all 0.5s;
    visibility: hidden;
}
.result .detail p{
    color: var(--white);
}
.result .detail i{
    padding: 0 5px 0 20px;
}
.result .detail h5 , .schedule .m1 .league1 h5{
    color: var(--white);
    font-size: 14px;
    font-family: var(--urb);
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
}
.result:hover .detail{
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}


/* schedule */
.schedule{
    background-image: url('../img/bg-match-and-video.jpg');
    height: 617px;
    background-color: rgba(0, 0, 0, 0.281);
    background-blend-mode: darken;
    padding: 30px;
}
.schedule .title h2{
    color: var(--white);
}
.schedule .m1{
    background-color: var(--white);
}
.schedule .img img{
    width: 80px;
    height: 80px;
}
.schedule .m1{
    padding:  20px;
    position: relative;
}
.schedule .m1 h2{
    color: var(--black-600);
    font-size: 18px;
    font-family: var(--urb);
    padding: 12px;
}
.schedule .m1 span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white-700);
    color: var(--black-700);
    font-size: 12px;
    font-family: var(--urb);
    line-height: 30px;
    text-align: center;
}
.schedule .m1 .league{
    padding: 25px 0 10px 0;
}
.schedule .league i{
    font-size: 13px;
    color: var(--blue-900);
    margin: 0 5px 0 20px;
}
.schedule .league p{
    font-size: 13px;
    color: var(--black-500);
    font-family: var(--urb);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 10px 0;
}
.schedule .m1 .match1{
    padding: 5px 30px;
}
.schedule .m1 .league1{
    width: 100%;
    height:40%;
    background-color: var(--red-600);
    border: 1px solid var(--white);
    text-align: center;
    padding: 0px 70px;
    position: absolute;
    bottom: 12px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.schedule .m1 .league1 i{
    padding:0 10px;
}
.schedule .m1 .league1 p{
    color: var(--white);
    font-size: 13px;
    font-family: var(--urb);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px ;
}
.schedule .m1:hover .league1{
    opacity: 1;
    visibility: visible;
    bottom: 0;
}


/* club players */
.player{
    background-color: var(--white-800);
    width: 100%;
}
.player .title{
    padding-top: 60px;
}
.player .profile{
    background-color: var(--white);
    width: 100%;
    position: relative;
}
.player .profile .content{
    padding: 20px;
}
.player .profile .content .name a span{
    color: var(--black-600);
    font-size: 20px;
    font-weight: 700;
}
.player .profile .content .name a{
    margin: 0;
    padding-bottom: 10px;
}
.player .profile .content .name span{
    color: var(--black-700);
    font-size: 12px;
    font-weight: 400;
    font-family: var(--urb);
    text-transform: capitalize;
}
.player .profile .content i{
    color: var(--red-600);
    padding: 0 10px;
    font-size: 20px;
}
.player .profile .content span{
    color: var(--black-600);
    font-size: 24px;
    font-family: var(--urb);
}
.player .profile .img .view{
    width: 100%;
    height:40px;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--red-600);
    font-size: 16px;
    font-family: var(--bar);
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 20%;
    opacity: 0;
    transition: all 0.5s;
}
.player .profile .view i{
    padding-left: 10px;
    color: var(--white);
    line-height: 40px;
}   
.player .profile .img .view h5{
    font-family: var(--bar);
    font-size: 16px;
    font-weight: 700; 
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2;
} 
.player .profile:hover .view{
    opacity: 1;
    bottom: 25%;
}
.player .play-img{
    position: relative;
}
.player .play-img img{
    height: 600px;
    margin-top: 120px;
}
.player .play-img i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--red-600);
    font-size: 27px;
}
.player .play-img a .left i{ 
    width: 40px;
    height: 40px;
    background-color: var(--white);
    color: var(--black-500);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    top: 50%;
    left: 0;
    margin: 20px;
}
.player .play-img a .right{
    width: 40px;
    height: 40px; 
    background-color: var(--white); 
    color: var(--black-500);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: 20px;
}


/* product */
.product{
    margin-top: 400px;
}
.product .sale .img{
    background-color: var(--white-800);
}
.product .sale .name{
    padding: 10px 0;
}
.product .sale .name span{
    width: 49px;
    height: 25px;
    background-color: var(--red-600);
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--urb);
    line-height: 25px;
}
.product .sale .name i{
    color: var(--red-600);
}
.product .sale h3{
    color: var(--black-600);
    font-family: var(--bar);
    font-size: 20px;
    text-align: center;
}
.product .sale .rate i{
    color: var(--yello);
    font-size: 13px;
}
.product .sale .rate{
    margin: 15px 10px 5px 10px;
}
.product .sale p{
    color: var(--black-700);
    font-family: var(--urb);
    font-size: 16px;
    text-align: center;
}
.product .sale .btn{
    width: 190px;
    height: 56px;
    background-color: var(--red-600);
    font-family: var(--bar);
    font-size: 16px;
    text-align: center;
    line-height: 56px;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    transition: all 1s;
    margin: 15px auto;
}
.product .sale .btn i{
    padding-right: 10px;
}
.product .sale .btn:hover{
    border: 1px solid var(--red-600);
    background-color: transparent;
    color: var(--red-600);
}

/* review */
.comment{
    padding:50px 0 ;
}
.review{
    background-image: url(../img/logo\ \(1\).png);
    background-color: var(--white-800);
    width: 100%;
    height: 758px;
    padding: 100px 0;
}
.review .review1{
    background-color: var(--white);
    padding: 40px 45px 50px 50px;
    position: relative; 
}
.review .review1 i{
    font-size: 50px;
    left: 40px;
    top: -25px;
    position: absolute;
}
.review .review1 p{
    font-size: 16px;
    color: var(--black-700);
    font-family: var(--urb);
}
.review .review1 .img {
    padding-top: 25px;
}
.review .review1 .img img{
    width: 60px;
    height: 60px;
}
.review .review1 .img .name{
    margin-left: 10px;
    text-transform: capitalize;
}
.review .review1 .img .name h5{
    font-size: 16px;
    color: var(--black-600);
    font-family: var(--urb);
}
.review .review1 .img .name p{
    font-size: 14px;
    color: var(--black-700);
    font-family: var(--urb);
}
.review .review1 .img .name::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50px;
    width: 27px;
    height: 30px;
    background-color:var(--white);
    clip-path: polygon(0 1%, 100% 0%, 0% 100%);
}
.review .dot .dot1{
    width: 12px;
    height: 6px;
    background-color: var(--red-600);
    border-radius: 10px;
}
.review .dot .dot2{
    width: 6px;
    height: 6px;
    background-color: var(--black-800);
    border-radius: 50%;
}

/* news */
.news{
    position: relative;
    margin-top: 70px ;
}
.news .content{
    text-align: left;
}
.news .news1 .img img{
    height: 560px;
    width: 100%;
}
.news .news1 .content{
    background-color: var(--white-600);
    height: 166px;
    transform: translateY(-170px);
    padding: 30px;
}
.news .news1 .content span {
    font-size: 14px;
    font-family: var(--urb);
    color: var(--white);
    margin-bottom: 12px;
    padding-right: 5px;
}
.news .news1 .content span i , .news .news2 .content span i{
    padding-right:10px;
}
.news .news1 .content p{
    font-size: 24px;
    font-family: var(--bar);
    color: var(--white);
    font-weight:600;
}
.news .news2 .content span{
    font-size: 14px;
    font-family: var(--urb);
    color: var(--black-700);
    padding-right: 10px;
    margin: 12px 0;
}
.news .news2 .content h2{
    font-size: 24px;
    font-family: var(--bar);
    color: var(--black-600);
    font-weight:600;
    margin-bottom: 20px;
}
.news .news2 .content p{
    color: var(--black-700);
    font-size: 16px;
    font-family: var(--bar);
    font-weight: 400;
    margin-bottom: 20px;
}
.news .news2 .content a{
    color: var(--red-600);
    font-size: 16px;
    font-family: var(--bar);
    font-weight: 700;
    text-transform: uppercase;
}
.news .news3 .img img{
    width: 100%;
    height: 120px;
    object-fit:cover;
}
.news .news3{
    margin: 30px 0;
}
.news .news3 a{
    font-size: 18px;
    font-family: var(--bar);
    color: var(--black-600);
    font-weight: 600;
    transition: all 1s;
}
.news .news3 a:hover{
    color: var(--red-600);
}
.news .news3 span{
    font-size: 16px;
    font-family: var(--urb);
    color: var(--black-700);
    padding: 15px 15px 15px 0;
}
.news .news3 span i{
    padding-right:5px;
}



/* subscribe */
.subscribe{
    height: 528px;
    width: 100%;
    background-image: url(../img/bg-subscribe-footer.jpg);
    color: var(--white);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.664);
}
.subscribe .sub{
    padding-top: 120px 0;
    width: 580px;
}
.subscribe .title{
    color: var(--white);
}
.subscribe .title h2{
    color: var(--white);
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.subscribe .title p{
    color: var(--white);
}
.sub-btn{
    width: 520px;
    height: 55px;
    background-color: var(--white);
    padding: 0 20px;
}
.sub-btn input{
    border: 0;
}
.sub-btn a{
    color: var(--red-600);
    font-family: var(--bar);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

/* table */
table{
    border:1px solid var(--white-400);
    margin: 80px 0;
}
td img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
table tr{
    text-align: center;
    height: 66px;
    color: var(--black-600);
    font-family: var(--urb);
    font-size: 16px;
    text-transform: capitalize;
}
table tr:first-child{
    height: 42px;
    background-color: var(--white-500);
}
table tr th:nth-child(2){
    text-align: left;
    padding: 17px;
}
table tr td{
    padding: 17px;
}
table tr td:last-child , table tr td:nth-child(2){
    font-weight: 700;
}
table tr:first-child:hover{
    background-color: var(--white-500);
}
table tr:hover{
    background-color: var(--red-600);
}
table tr:hover td{
    color: var(--white);
}

/* footer */
footer{
    padding: 100px 30px;
}
footer .phone ,footer .mail ,footer .location{
    padding: 10px 0 ;
}
footer img{
    width: 126px;
}
footer i{
    color: var(--red-600);
    padding-right: 5px;
}
footer a{
    font-size: 14px;
    font-family: var(--urb);
    color: var(--black-700);
    padding-bottom: 2px;
    transition: all 1s;
}
footer p{
    color: var(--blue-900);
    font-size: 13px;
    font-family: var(--urb);
}
footer h5{
    font-size: 16px;
    font-family: var(--urb);
    color: var(--black-600);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
}
.location a:hover, .phone a:hover , .mail a:hover{
    color: var(--red-600);
}
footer ul li{
    padding: 5px;
}
footer a{
    position: relative;
}
footer a::after{
    position: absolute;
    content: '';
    border: 1px solid var(--red-600);
    left: 0;
    bottom: 0;
    width: 0%;
    opacity: 0;
    transition: all 1s;
}
footer a:hover::after{
    width: 100%;
    opacity: 1;
}
.devider{
    border: 1px solid var(--white-400);
}


.footer{
    padding: 50px 0 ;
}
.footer p{
    font-size: 14px;
    font-family: var(--urb);
    color:var(--black-700);
}
.footer p a{
    color: var(--red-600);
}
.footer i{
    color: var(--black-700);
    padding: 0 10px;
}
.footer .icon a i:hover{
    color: var(--red-600);
}